<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dev.emmaguy.bell">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
    <application android:icon="@drawable/bell1" android:label="Bell Ringing Widget" android:debuggable="true">
        <receiver android:name="BellWidgetProvider" android:label="Bell Ringing Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="dev.emmaguy.bell.BellWidgetProvider.ACTION_WIDGET_RECEIVER"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_info" />
        </receiver>
    </application>
</manifest>